* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
  padding: 30px;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none !important;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

button {
  background-color: gold;
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}

#add-room-btn {
  background-color: #999;
}

.room {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  width: 200px;
  height: 200px;
}

#rooms-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 10px;
}

#game-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#game-field {
  background-color: bisque;
  width: 300px;
  height: 300px;
  flex-direction: column;
  border: 1px solid black;
}

.game-timer-div {
  width: 100%;
  height: 30px;
  background-color: aquamarine;
  justify-content: flex-start;
  padding: 1px;
}

#ready-btn {
   width: 100px;
   height: 50px;
}

.el-center {
   align-items: center;
   justify-self: center;
}

#timer {
  font-size: 2rem;
}

#done {
  background-color: green;
}

#next {
  background-color: red;
}

.active-user {
  background-color: red;
}

.user-ready {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.ready-status-red {
  background-color: red;
}

.ready-status-green {
  background-color: green;
}

.progress-bar {
  background-color: darkgray;
  width: 300px;
  height: 20px;
}

.user-progress {
  background-color: forestgreen;
  height: 20px;
  width: 0%;
}

.status {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.bot-output {
  width: 300px;
  height: calc(100vh - 40px);
  border: 1px groove black;
  overflow: auto;
  flex-direction: column;
}
 #quit-room-btn {
   margin-bottom: 10px;
   margin-top: 10px;
 }

 .game {
   height: 100%;
 }

 .comment {
   padding: 5px;
 }

 .modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: white;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-weight: 700;
  font-size: 22px;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}